{% extends 'user/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow p-4">
            <h3 class="text-center mb-3">Відновлення пароля 🔒</h3>
            <p class="text-muted text-center mb-4">Введіть email, вказаний при реєстрації.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Надіслати листа</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}